{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<p>Welcome to our app. Feel free to take a look around. You can create, manage, and delete user accounts, post as a user in our community forum, and view recent bitcoin buying and selling prices. Thanks for visiting!
</p>

<div>
    Avatar icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
<div>
    Bitcoin Logo from <a href="https://www.pikpng.com/pngvi/ihihxbm_cryptocurrency-png-bitcoin-cloud-clipart/">Pikpng</a>.
</div>
{% endblock %}